<h1>Upload Books / Magazines CSV</h1>

<%= form_with url: admin_books_upload_path, method: :post do |form| %>
  <div>
    <%= form.label :csv_text, "Paste CSV Content:" %><br>
    <%= form.text_area :csv_text, rows: 10, cols: 100 %>
  </div>
  <br>
  <%= form.submit "Upload" %>
<% end %>

<% if flash[:alert] %>
  <div style="color: red;"><%= flash[:alert].html_safe %></div>
<% end %>

<% if flash[:notice] %>
  <div style="color: green;"><%= flash[:notice] %></div>
<% end %>
